<!DOCTYPE html>
<meta charset="utf-8">
<script src="/javascripts/vendor/d3.min.js"></script>
<script src="/javascripts/vendor/shake.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/game.js"></script>
<body>
<h1>お寝坊サンタの壁登り</h1>
<div></div>
</body>
