<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="/stylesheets/style.css">
<script src="/javascripts/vendor/d3.min.js"></script>
<script src="/javascripts/vendor/shake.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/game.js"></script>
<body>
  <div class="box__area">
    <div class="box box__bg_photo">
      <p>aaa</p>
      <p>bbb</p>
    </div>
    <div class="box box__bg_description">
    </div>
    <div class="box box__bg_ready">
    </div>
    <div class="box box__bg_game">
    </div>
    <div class="box box__bg_nogoal">
    </div>
    <div class="box box__bg_goal">
    </div>
  </div>
</body>
