<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="/stylesheets/style.css">
<script src="/javascripts/vendor/d3.min.js"></script>
<script src="/javascripts/vendor/shake.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/game.js"></script>
<body>
  <div class="box__area">
    <div id='div_enter' class="box box__bg_photo">
      <input id='input_name' placeholder="おなまえ"></input>
      <a href='#' id='button_join'>参加する</a>
    </div>
    <div id='div_rule' class="box box__bg_description">
    </div>
    <div id='div_ready' class="box box__bg_ready">
    </div>
    <div id='div_game' class="box box__bg_game">
      <p>ふってください</p>
    </div>
    <div id='div_nogoal' class="box box__bg_nogoal">
    </div>
    <div id='div_goal' class="box box__bg_goal">
    </div>
  </div>
<script>
initGame();
</script>
</body>
